* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0) rotate(-10deg);
    }

    50% {
      transform: translateY(-20px) rotate(-10deg);
    }
  }

  .floating {
    animation: float 8s ease-in-out infinite;
    rotate: -10;
  }

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .scrolling-logos {
    white-space: nowrap;
    overflow: hidden;
  }

  .scrolling-logos .inner {
    display: flex;
    align-items: center;
    animation: slide 25s linear infinite;
  }

  .bg-color {
    background-color: #f6f5f4;
  }